body{
    background-color: #146034;
}
h1{
    font-family: 'Pacifico', cursive;
    color: #CEB076;
    font-weight: lighter;


}
p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: lighter;
}
h2{
    color: white;
}
.new_year {
    text-align: center;
    width: 550px;
    margin: 80px auto;

}
.right{
    position: absolute;
    top: 0;
    right: 0;
    left: 1214px;
}
.left{
    position: absolute;
    top: 30px;
    left: 0;
    right: 1198px;
}
.center{
    position: absolute;
    top: 340px;
    left: 800px;
}
.mega{
    position: absolute;
    top: 550px;
    left:635px ;
}
.bottom{
    position: absolute;
    bottom: 0;
}
.bottom{
    position: absolute;
    left: 0;
}
@media(max-width: 420px){
    .new_year{
        width: 800px;
        margin-left: 100px;
        margin-top: 250px;
    }
    h1{
        font-size: 100px;

    }
    p{
        font-size: 45px;
    }
    h2{
        font-size: 60px;
        font-weight: lighter;
    }
    .mega{
        width: 300px;
        position: relative;
        top: -250px;
        left: 350px;
    }
    .right,.bottom{
        display: none;
    }
    .bottom_music{
        width: 100px;
        position: absolute;
        top: 100px;
        left:780px	}
    .left{
        width: 260px;
        position: absolute;
        top: -10px;
    }
    .center{
        width: 250px;
        position: relative;
        top:	-350px;
        left:710px;   }

}